@page "/sign-in"
@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="login-box container mt-4 p-4 shadow-sm">
    <form @onsubmit="HandleLogin">
        <div class="mb-4">
            <label for="email" class="form-label small-label">Email</label>
            <input id="email" class="form-control form-control-lg" @bind="loginModel.Email" />
        </div>

        <div class="mb-4">
            <label for="password" class="form-label small-label">Hasło</label>
            <input id="password" type="password" class="form-control form-control-lg" @bind="loginModel.Password" />
        </div>

        <button type="submit" class="btn btn-primary w-100 py-2">Zaloguj się</button>
    </form>
</div>

@code {
    public class LoginRequest
    {
        public string Email { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
    }

    private LoginRequest loginModel = new();

    private async Task HandleLogin()
    {
        var success = await AuthService.LoginAsync(
            loginModel.Email,
            loginModel.Password
        );

        if (success)
        {
            Navigation.NavigateTo("/");
        }
    }
}
