# Visual Studio files
*.csproj.user
*.suo
*.user
*.userosscache
*.vspscc
_ReSharper.*.user

# Build output
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.dll
*.exe
*.pdb
*.xml
*.vsix

# Package directory
packages/
# node_modules/
# NuGet packages
*.nupkg

# Other files/folders
.vs/
.vscode/
App_Data/
*.log
.idea/
*.bak
*.tmp
*.cache
*.cache
.DS_Store